/*
Author: Josh T
File Name: main.css for Lab 7
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* give the body a background image that covers the whole page and set the default font to centered, white, 20pt Helvetica
*/
body{
    background-image: url(images/backgroundTexture.jpg);
    background-size: cover;

    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;

}

/* place margin around all h1 heading, make them darkgray and given them a slight shadow 
*/
h1{
    margin: 2%;
    color: darkgrey;
    text-shadow: 5px 5px 2px rgb(61, 60, 60);
}

/* give h3 headings some margin as well */
h3{
    margin: 2%;
}

/* give the divs that hold each object option padding and a semi-transparent boxes with rounded corners
center these divs in their grid cells
*/
#container .object
{

    padding: 2%;
    background-color: rgba(243, 240, 235, 0.2);
    border-radius: 10px;

    margin: 2% auto;
}

/* give the scoreboard lots of margin
hide it by default, but later it will display as a flexbox
space the contents within the flexbox evenly
*/
#scoreboard
{
    margin: 5%;
    display: none;
    justify-content: space-evenly;
}


/* make the player's score blue with a dark blue shadow
place a 50px, semi-transparent box around it
center it in its cell
*/
#userScore
{
    color:rgb(0, 55, 128);
    text-shadow: 1px 3px 2px rgb(4, 26, 56);
    
    background-color: rgba(194, 217, 247, 0.2);
    border-radius: 10px;

    width: 50px;

    margin: 1% auto;
}

/* make the computer's score red with a dark red shadow
place a 50px, semi-transparent box around it
center it in its cell
*/
#computerScore
{
    color:rgb(128, 19, 0);
    text-shadow: 1px 3px 2px rgb(39, 8, 3);

    background-color: rgba(245, 180, 168, 0.2);
    border-radius: 10px;

    width: 50px;

    margin: 1% auto;
}

/* display the objects in a */
#optionGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* make all images 200px wide with white borders */
img
{
    width: 200px;
    border: 5px solid white;
}

/* make the text in the button white and 14pt in size
round the corners of the button and give it a semi-transparent background
hide the button when js is not enabled
*/
button
{
    color: white;
    font-size: 14pt;
    padding: 1%;
    background-color: rgba(243, 240, 235, 0.2);
    border-radius: 10px;

    display: none;
}

/* give the footer a semi-transparent background
make it stick to the bottom of the page
make the footer text be 14pt font
*/
footer
{
    background-color: rgba(243, 240, 235, 0.2);
    position: fixed;
     left: 0;
    bottom: 0;
    width: 100%;

    font-size: 14pt;

}

/* make all links dark gray */
a{
    color: darkgrey;
}

