/*
Author: Josh T
File Name: main.css for Lab 6
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* give the body a background image and set the default font size to 20
this background image is partially transparent, so it will let the randomly generated color shine through
*/
body{
    background-image: url(images/backgroundTexture.jpg);
    background-size: cover;

    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;

}

/* center all h1 headings and give them some slight margin */
h1{
    margin: 2%;
    text-align: center;
}

h3{
    margin: 2%;
}

/* give the div rounded corners and opace backgrounds
center these divs within their grid cells
*/
#container .object
{

    padding: 2%;
    background-color: rgba(243, 240, 235, 0.2);
    border-radius: 10px;

    margin: 2% auto;
}

#scoreboard
{
    margin: 5%;
    display: none;
    justify-content: space-evenly;
}

/* display the house info in a 4 column grid */
#optionGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

img{
    width: 200px;
}

button{
    color: white;
    padding: 1%;
    background-color: rgba(243, 240, 235, 0.2);
    border-radius: 10px;
}


