/*
Author: Josh T
File Name: main.css for Project 4
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* give the body a background image and set the default font size to 20
this background image is partially transparent, so it will let the randomly generated color shine through
*/
body{
    background-image: url(images/starBackground.jpg);
    font-size: 20pt;
    color: white;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;

}

/* center all h1 headings and give them some slight margin */
h1{
    margin: 2%;
    font-size: min(9.5vmin, 42pt);
    text-align: center;
    color: rgb(255, 196, 0);
}

h2{
    text-align: center;
    font-size: min(7vmin, 32pt);
}


h3{
    font-size: min(4.5vmin, 20pt);
    margin: 2%
}

p{
    font-size: max(10pt, 1vmin);
    margin: 0;
}

a{
    color: rgb(255, 196, 0);
}

#searchBar
{
    width: 80%;
    margin: auto;

    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

    align-items: center;

    display: none;

}

#searchBar div{
    padding: 2%;

    width: 55%;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;

    grid-column-start: 1;
	grid-column-end: 3;
}

input{
    margin: 0 1%;
    height: 100%;
    font-size: 2.5vmin;
}

input:focus {
    outline: 3px rgb(255, 196, 0) solid;
}



#searchBar img{
    width: 100%;
    height: 100%;

    border-radius: 50%;

}


button{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    color: white;
}

button:active{
    animation: pressed 1s ease;
}

#searchResults{
    margin: 2%;
}

#searchResults p{
    margin: 10px;
}

#searchContent{
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    margin: 2% auto;
    padding: 5%;
    border-radius: 20px;

    display: grid;
    grid-template-rows: repeat(6, 100%);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

#searchContent h2
{
	grid-column-start: 1;
	grid-column-end: 4;
    
    border-bottom: white 5px solid;
    margin: 5px 0px;
}

#planetInfo, #filmInfo, #speciesInfo{
    grid-column-start: 1;
	grid-column-end: 4;

}

#planetInfo{
    margin: 2% 0;
}

#filmInfo h3{
    margin: 2% 0;
}


b{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    list-style-type: none;
}

li{
    font-size: min(4vmin, 18pt);
}

select{
    margin: 1%;

    background-color: white;
    border: none;
    border-radius: 5px;


}

select option{
    color: rgb(255, 196, 0);

}

@media only screen and (min-width : 700px) {
    #searchBar
    {
        grid-template-columns: 8% 84% 8%;
    }

    #searchBar div{
        width: 30%;
    }

}


@media only screen and (min-width : 1200px) {
    #searchBar
    {
        grid-template-columns: 7% 86% 7%;
    }

    #searchContent{
        
        width: 50%;
    }

    #searchBar
    {
        width: 50%;

    }

    #searchBar div{
        width: 30%;
    }

}

@keyframes pressed{
    /*when the animation starts, shrink the element and give it an inset border*/
    0%{
        scale: 90%;
        border-style: inset;
    }

    /*when the animation ends, set the element to a normal size and give it an outset border*/
    100%{
        scale: 100%;
        border-style: none;
    }

}