/*
Author: Josh T
File Name: main.css for Lab 6
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* give the body a background image and set the default font size to 20
this background image is partially transparent, so it will let the randomly generated color shine through
*/
body{
    background-image: url(images/starBackground.jpeg);
    font-size: 20pt;
    color: white;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;

}

/* center all h1 headings and give them some slight margin */
h1{
    margin: 2%;
    text-align: center;
    color: rgb(255, 196, 0);
}

h2{
    text-align: center;
}


h3{
    font-size: 20pt;
    margin: 2%
}

#searchBox
{
    width: 50%;
    margin: auto;

    display: grid;
    grid-template-columns: 5% 90% 5%;

    align-items: center;

}

input{
    margin: 0 1%;
    height: 100%;
}

input:focus {
    outline: 3px rgb(255, 196, 0) solid;
}


#searchBox img{
    width: 100%;
    height: 100%;

    border-radius: 50%;

}

#searchResults{
    margin: 2% auto;
}

#searchContent{
    background-color: rgba(255, 255, 255, 0.2);
    width: 50%;
    margin: 2% auto;
    padding: 5%;
    border-radius: 20px;

    display: grid;
    grid-template-rows: repeat(5, 100%);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

#searchContent h2
{
	grid-column-start: 1;
	grid-column-end: 4;
    
    border-bottom: white 5px solid;
    margin: 5px 0px;
}

#planetInfo, #filmInfo{
    grid-column-start: 1;
	grid-column-end: 4;

}

#planetInfo{
    margin: 2% 0;
}

#filmInfo h3{
    margin: 2% 0;
}


b{
    font-style: italic;
}

li{
    font-size: 18pt;
}
